@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat', sans-serif;
}

@layer components {
  .gradient-shadow {
    position: relative;
    transform-style: preserve-3d;
    display: inline-block;
  }

  .gradient-shadow::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    background: linear-gradient(to right, #d1d5db, #4b5563); /* Gris claro a gris oscuro */
    border-radius: inherit;
    filter: blur(15px);
    transform: translate3d(0, 0, -10px); /* Mueve la sombra detrás del botón */
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: -1;
  }

  .gradient-shadow:hover::before {
    opacity: 1;
  }
}